body {
    background-color: #000000
}
.Überschrift {
    font-size: 5em;
    font-family: 'Courier New', 'Courier', monospace;
    color: #FFFFFF
}
.Meme {
    background-color: #0daa54;
    width: 88%
}
img {
    height: 69%;
    width: 69%;
    border: #000000;
    border-radius: 1.5em
}
article {
    font-size: 1.2em;
    background-color: #326781;
    width: 92%
}
p {
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #c65f0f
}
li {
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #ffffff
}